<%- include("partials/header"); -%>
    <h1>About</h1>
    <br>Address: kailash Nagar, Indore,Madhya Pradesh<br>
    Phone No:5678912345
    <br>
    Email ID: Mighu24@gmail.com
    <br>
    Copyright @ 2023 Anvesh Mishra | All rights reserved.
    <!-- <p> <%= aboutContent %> </p> -->
<%- include("partials/footer"); -%>
