<%- include("partials/header"); -%>
    <!-- <h1>Contact</h1> -->
<!-- 
    <br>Address: kailash Nagar, Indore,Madhya Pradesh<br>
    Phone No:5678912345
    <br>
    Email ID: Mighu24@gmail.com
    <br>
    Copyright @ 2023 Anvesh Mishra | All rights reserved. --> 
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- <p>
        <a href="https://www.thesparksfoundationsingapore.org" target="_blank">
            <ion-icon size="large" name="logo-instagram"></ion-icon>
        </a>

        <a href="https://www.thesparksfoundationsingapore.org/about/vision-mission-and-values/"
            target="_blank"><ion-icon size="large" name="logo-github"></ion-icon></a>

        <a href="https://www.thesparksfoundationsingapore.org/policies-and-code/code-of-ethics-and-conduct/"
            target="_blank"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>


    </p> -->

    <!-- 
    <p> <%= contactContent %> </p> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <div class="wrapper">
        <h2>Socialize</h2>
        <div class="media">
            <ul>
                <div class="l">
                <li> <a href="https://www.thesparksfoundationsingapore.org" target="_blank">
                 <ion-icon size="large" name="logo-instagram"></ion-icon></a></li>
                <li><a href="https://www.thesparksfoundationsingapore.org" target="_blank">
                <ion-icon size="large" name="logo-github"></a></ion-icon></li>
                <li><a href="https://www.thesparksfoundationsingapore.org" target="_blank">
               <ion-icon size="large" name="logo-linkedin"></ion-icon></ion-icon></a></li>
                <li><a href="https://www.thesparksfoundationsingapore.org" target="_blank">
               <ion-icon size="large" name="mail"></ion-icon> </a></li>
            </div>
                
            </ul>
        </div>
    </div>
    <%- include("partials/footer"); -%>