<%- include("partials/header"); -%>
    <h1>Contact</h1>

    <ul>
        <li>Address: kailash Nagar, Indore,Madhya Pradesh</li>
        <li>Phone No:5678912345,9856824555</li> 
           <li>Email ID: mishraanvesh02@gmail.com</li> 
           <li> Copyright @ 2023 Anvesh Mishra</li>
</ul>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  

    <h1>Socialize</h1>
    <!-- <p> <%= contactContent %> </p> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <div class="wrapper">
       <div >
            <ul>
                <div class="l">
                <li> <a href="https://www.google.com/search?q=instagram+login&sxsrf=AB5stBjauQYwukmejAot6JHuvAZyoCmRrQ%3A1689077092692&ei=ZEWtZKjlKbXm4-EPz7G7yA4&oq=ins+login&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBwgAEIoFEEMyBggAEAcQHjIGCAAQBxAeOgoIABBHENYEELADOgoIABCKBRCwAxBDOg0IABDkAhDWBBCwAxgBOhUILhCKBRDHARDRAxDIAxCwAxBDGAI6BwgjELECECc6BwgjEIoFECdKBAhBGABQzQJYpxJgvh5oAXABeACAAfUDiAHoE5IBCTItNC4zLjAuMZgBAKABAcABAcgBEtoBBggBEAEYCdoBBggCEAEYCA&sclient=gws-wiz-serp" target="_blank">
                 <ion-icon size="large" name="logo-instagram"></ion-icon></a></li>
                <li><a href="https://www.google.com/search?q=github+login&oq=&aqs=edge.2.69i60j69i57j69i59l2j69i60l3.3055j0j1&sourceid=chrome&ie=UTF-8" target="_blank">
                <ion-icon size="large" name="logo-github"></a></ion-icon></li>
                <li><a href="https://www.google.com/search?q=linkedin+login&sxsrf=AB5stBjrSeqO83XmQwLYQvUJnz852vO0_Q%3A1689077112189&ei=eEWtZNDOCrfWseMP5cqygAM&oq=lin&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgcIIxCKBRAnMg0IABCKBRCxAxCDARBDMgcIABCKBRBDMgcIABCKBRBDMgsIABCABBCxAxCDATIHCAAQigUQQzIFCAAQgAQyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATITCC4QigUQsQMQgwEQxwEQ0QMQQzoECCMQJzoICAAQigUQsQM6EAgAEIAEEBQQhwIQsQMQgwE6DQguEIoFEMcBENEDEEM6CggAEIoFELEDEENKBAhBGABQAFjWA2DOEGgAcAF4AIABiwOIAagHkgEFMi0xLjKYAQCgAQHAAQE&sclient=gws-wiz-serp" target="_blank">
               <ion-icon size="large" name="logo-linkedin"></ion-icon></ion-icon></a></li>
                <li><a href="https://www.google.com/search?q=gamil+login&oq=gamil&aqs=chrome.0.69i59j0i10i67i650j69i57j69i64j0i10i131i395i433i512j46i67i395i408i410i424i650j0i20i263i395i512j0i10i131i395i433i512.1664368707j1j15&sourceid=chrome&ie=UTF-8" target="_blank">
               <ion-icon size="large" name="mail"></ion-icon> </a></li>
              
             
               
            </div>
                
            </ul>
        </div>
    </div>
    <%- include("partials/footer"); -%>